body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(15, 186, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(15, 186, 0);
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

section {
    padding-left: 20px;
    padding-right: 20px;
  }

iframe {
    box-shadow: 7px 7px 7px rgb(15, 186, 0);
}

div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
    margin-left: 2%;
}

h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .chamada {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(15, 186, 0);
}

.categoria h2 {
    color: rgb(15, 186, 0)
}